<!DOCTYPE html>
<html>
<head>
  <title>Igbse Aye Mi</title>
  <style>
    /* Estilos gerais do formulário */
    form {
      width: 300px;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    input[type="submit"] {
      background-color: #a24caf;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #a0a045;
    }
  </style>
</head>
<body>
  <h1>Formulário</h1>
  
  <form>
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" placeholder="Digite seu nome">

    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" placeholder="Digite seu e-mail">

    <label for="message">Mensagem:</label>
    <textarea id="message" name="message" placeholder="Digite sua mensagem"></textarea>

    <input type="submit" value="Enviar">
  </form>
</body>
</html>
